<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{ifset title}{include title|stripHtml} | {/ifset}BI-ZNF</title>

		<style>
			div.almostTable {
				display: table;
				width: 100%;
				border: 1px solid black;
			}

			div.almostTable header, div.almostTable main section {
				display: table-row;
				border: 1px solid black;
			}

			.almostTable > main { display: table-row-group }

			.almostTable > .th {
				text-align: center;
				font-weight: bold;
			}

			.almostTable > .col6 span {
				display: table-cell;
				width: 16.5%;
				border: 1px solid black;
			}

			.almostTable > .col6 span.doubleCol {
				position: relative;
				border-right: none;
			}
			.almostTable > .col6 span.doubleCol + span {
				border-left: none;
			}
			.almostTable > .col6 span.doubleCol > span {
				position:absolute;
				border: none;
				top: 0;
				left: 0;
				width: 200%;
			}
			/* Taken and modified from https://stackoverflow.com/questions/22036460/creating-html-table-without-using-a-table-tag */

		</style>
		{block css}
		{/block}
	</head>

	<body>
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

		{include content}
	</body>
</html>
