{block #content}

<h1>Zaměstnanci</h1>

<p>
    <a href="{plink Pid:default}">Rodná čísla</a>
    <a href="{plink Company:default}">Firmy</a>
    <a href="{plink Statistic:default}">Statistiky</a>
    <a href="{plink Homepage:default}">Menu</a>
</p>

<a href="{plink add}">Vytvoř</a>
<table border="1" width="100%">
    <tr>
        <th>Firma</th>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>Rodné číslo</th>
        <th>Pohlaví</th>
        <th>Datum narození</th>
        <th>Plat</th>
        <th>Daň</th>
        <th colspan="2">Akce</th>

    </tr>
        {foreach $employers as $e}
            <tr>
                <td>{$e->company->name} </td>
                <td><a href="http://www.kdejsme.cz/jmeno/{$e->firstname}">{$e->firstname}</a></td>
                <td><a href="http://www.kdejsme.cz/prijmeni/{$e->surname}">{$e->surname}</a></td>
                <td>{$e->pid == NULL ? "nezadáno" : $e->pid->name}</td>
                <td>{$e->pid_id|sex}</td>
                <td>{$e->pid == NULL ? "" : ($e->pid_id|birthday)}</td>
                <td>{$e->salary}</td>
                <td>{$e->salary * 0.22}</td>
                <td><a href="{plink edit id => $e->id}">Edituj</a></td>
                <td><a href="{plink delete id => $e->id}">Odeber</a></td>
            </tr>
        {/foreach}
    </div>
</table>