{block #content}

<h1>Firmy</h1>

<p>
    <a href="{plink Pid:default}">Rodná čísla</a>
    <a href="{plink Employer:default}">Zaměstnanci</a>
    <a href="{plink Statistic:default}">Statistika</a>
    <a href="{plink Homepage:default}">Menu</a>
</p>
<a href="{plink add}">Vytvoř</a>
<div class="almostTable">
    <header class="th col6">
        <span>Jméno</span>
        <span>Registrace</span>
        <span>Je plátce DPH?</span>
        <span>Telefon</span>
        <span class="doubleCol"><span>Akce</span></span>
        <span></span>
    </header>
    <main class="col6">
        {foreach $companies as $c}
            <section>
                <span>{$c->name}</span>
                <span>{$c->registered|date:"%d.%m.%Y - %H:%M:%S"}</span>
                <span>{$c->is_dph ? "ANO" : "NE"}</span>
                <span>{$c->phone|phone}</span>
                <span><a href="{plink edit id => $c->id}">Edituj</a></span>
                <span><a href="{plink delete id => $c->id}">Odeber</a></span>
            </section>
        {/foreach}
    </main>
    <!-- Taken and modified from https://stackoverflow.com/questions/22036460/creating-html-table-without-using-a-table-tag -->
</div>